<div class="container">
  <header class="page-header">
    <img src="../../../assets/img/logo-compasso.png" alt="Compasso Uol Logo">
    <span>
      <p class="title-text">FAST TRACK</p>
      <p class="title-text">LEARNING</p>
    </span>
  </header>

  <main class="page-main">
    <img class="main-img" src="../../../assets/img/undraw_page_not_found.svg"
         alt="Page not Found image">
    <span>
      <p class="orange-text">OOPS!!!</p>
      <p class="orange-text">PAGE NOT FOUND</p>
    </span>
    <app-button (click)="backToHome()">Voltar</app-button>
  </main>

</div>
