<header class="container">
  <nav class="navbar">

    <div class="navbar__logo">
      <a [routerLink]="''" title="Página inicial">
        <img class="navbar__logo__image"
             src="./assets/img/logo-compasso.png"
             alt="Logo Compasso UOL">
      </a>
    </div>

    <div class="navbar__items" *ngIf="isLogged()">
      <ul>
        <li>
          {{user.name}}
        </li>
        <li>
          <button (click)="logoutConfirm()">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
            Logout
          </button>
        </li>
      </ul>
    </div>

  </nav>
</header>
