<header class="container">
  <nav class="navbar">

    <a [routerLink]="''" title="Página inicial">
      <img class="navbar__logo"
           src="./assets/img/logo-compasso.png"
           alt="Logo Compasso UOL">
    </a>

    <div class="navbar__items" *ngIf="isLogged()">
      <ul>
        <li>
          {{(user$ | async)?.name}}
        </li>
        <li>
          <button (click)="logoutConfirm()">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
            Logout
          </button>
        </li>
      </ul>
    </div>

  </nav>
</header>
