<section>
  <div class="left">
    <div class="container">
      <img src="../../../assets/img/login.svg">
    </div>
  </div>
  <div class="right">
    <div class="container">
      <form [formGroup]="formSignIn" (ngSubmit)="login()" #form="ngForm">
        <h1>FAST TRACK LEARNING</h1>
        <div class="form-group">
          <input type="text"
                 placeholder="Email ou nome de usuário"
                 formControlName="email"
          >
        </div>
        <div class="form-group" *ngIf="!formSignIn.get('remember').value">
          <input type="password" placeholder="Senha" formControlName="password">
        </div>
        <div class="form-group" *ngIf="formSignIn.get('remember').value">
          <input type="password" placeholder="Nova Senha" formControlName="new_password" autocomplete="off">
        </div>
<!--        <div class="form-group">-->
<!--          <input type="checkbox" formControlName="remember"> Esqueceu senha?-->
<!--        </div>-->
        <div class="form-group">
          <input type="submit" value="Login" class="btn-default">
        </div>
        <div class="form-group p-10">
          <span>Não possui acesso?<a [routerLink]="['/sign-up']"> Criar acesso</a></span>
        </div>
      </form>
    </div>
  </div>
</section>
