.container {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.container__item {
  display: flex;
  width: 45%;
  align-self: center;

  img {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .container__title {
    text-align: center;
  }

}

@media (max-width: 768px) {
  .container__item {
    width: 100%;
  }

  .container__item:first-child {
    display: none;
  }
}
