$snow-forest: #445460;
section {
  /**Temporario**/
  font-family: Arial;

  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .left {
    background-color: transparent;
    @media screen and (max-width: 768px) {
      display: none;
    }

    .container {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      img {
        width: 100%;
      }
    }
  }

  .right {
    background-color: transparent;
    .container {
      form img{
        @media screen and (min-width: 768px) {
          display: none;
        }
      }
      color: $snow-forest;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      h1 {
        white-space: pre-line;
        font-size: 30px;
        text-align: center;
      }
    }
  }
}

/*** Aguardando  padronização do css, assim que existir, retirar este código ***/
.form-group {
  line-break: auto;
  padding: 5px;
}

input:not([type='checkbox']) {
  border: 1px solid #dddddd;
  border-radius: 2px;
  width: 100%;
  height: 29px;
}

.btn-default {
  background-color: #e19822;
  color: white;
  font-size: 12px;
  cursor: pointer;
  min-height: 35px;
}

::-webkit-input-placeholder {
  padding: 5px;
  color: #e4e4f2;
}

:-moz-placeholder {
  padding: 5px;
  color: #e4e4f2;
}

.create-access {
  a {
    text-decoration: none;
    color: #e19822;
    font-weight: bold;
  }

}

.p-10 {
  padding-top: 20px;
}
