$gray: #4B5C6B;

.list-users__title {
  text-align: center;
  margin: 5em  0 2em 0;
}

.list-users__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em 0;
  input{
    width: 20rem;
  }
}

.list-users__table--responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 2em;
}

.list-users__table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.list-users__table th {
  margin: 0;
  padding: 1rem;
  border: 1px solid rgb($gray, .4);
}

.list-users__table td {
  margin: 0;
  vertical-align: middle !important;
  padding: .15rem;
  border: 1px solid rgb($gray, .4);
}

.list-users__table--navigation{
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
}


.list-users__pages--info{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
