<section>
  <div class="left">
    <div class="container">
      <img src="../../../assets/img/login.png">
    </div>
  </div>
  <div class="right">
    <div class="container">
      <form>
        <img src="../../../assets/img/compasso.png">
        <h1>FAST TRACK LEARNING</h1>
        <div class="form-group">
          <input type="text" placeholder="Email ou nome de usuário">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Senha">
        </div>
        <div class="form-group">
          <input type="checkbox">Lembrar-me
        </div>
        <div class="form-group">
          <input type="submit" value="Login" class="btn-default">
        </div>
        <div class="form-group p-10">
          <span>Não possui acesso?<a href="#"> Criar acesso</a></span>
        </div>
      </form>
    </div>
  </div>
</section>
