<section>
  <div class="left">
    <div class="container">
      <img src="../../../assets/img/login.svg">
    </div>
  </div>
  <div class="right">
    <div class="container">
      <form [formGroup]="formSignUp">
        <h1>FAST TRACK LEARNING</h1>
        <div class="form-group">
          <label for="email"></label>
          <input class="form-content-item"
                 formControlName="email"
                 placeholder="Email"
                 type="text"
                 id="email">
          <small *ngIf="inputHasError('email')">Email é obrigatório</small>
        </div>

        <div class="form-group">
          <label for="password"></label>
          <input class="form-content-item"
                 formControlName="password"
                 placeholder="Senha"
                 type="password"
                 id="password">
          <small *ngIf="inputHasError('password')">Senha é obrigatório</small>
        </div>

        <div class="form-group">
          <label for="passwordRepeat"></label>
          <input class="form-content-item"
                 formControlName="passwordRepeat"
                 placeholder="Repita a senha"
                 type="password"
                 id="passwordRepeat">
          <small *ngIf="inputHasError('passwordRepeat')">Senhas não correspondem</small>
        </div>
        <app-button [disabled]="this.formSignUp.invalid"
                    [btnBlock]="true"
                    (click)="submit()">
          Cadastrar
        </app-button>
        <div class="form-group p-10">
          <span>Já possui acesso?<a [routerLink]="['/sign-in']"> Fazer login</a></span>
        </div>
      </form>
    </div>
  </div>
</section>

