<section class="container">

  <div class="container__item">
    <img src="../../../assets/img/login.svg" alt="Menina sentada em livros segurando um livro">
  </div>

  <div class="container__item">
    <form [formGroup]="formSignUp" (ngSubmit)="submit()">

      <h1 class="container__title">FAST TRACK LEARNING</h1>

      <div class="form-group">
        <label for="email"></label>
        <input class="form-content-item"
               formControlName="email"
               placeholder="Email"
               type="text" id="email">
        <small *ngIf="inputHasError('email')">Email é obrigatório</small>
      </div>

      <div class="form-group">
        <label for="name"></label>
        <input formControlName="name"
               placeholder="Nome"
               type="text"
               class="form-content-item"
               id="name">
        <small *ngIf="inputHasError('name')">Nickname é obrigatório</small>
      </div>

      <div class="form-group">
        <label for="nickname"></label>
        <input formControlName="nickname"
               placeholder="Apelido"
               type="text"
               class="form-content-item"
               id="nickname">
        <small *ngIf="inputHasError('nickname')">Nickname é obrigatório</small>
      </div>

      <div class="form-group">
        <label for="password"></label>
        <input formControlName="password"
               placeholder="Senha"
               class="form-content-item"
               type="password"
               id="password">
        <small *ngIf="inputHasError('password')">Senha é obrigatório</small>
      </div>

      <div class="form-group">
        <label for="passwordRepeat"></label>
        <input formControlName="passwordRepeat"
               class="form-content-item"
               placeholder="Repita a senha"
               type="password"
               id="passwordRepeat">
        <small *ngIf="inputHasError('passwordRepeat')">Senhas não correspondem</small>
      </div>

      <app-button [disabled]="this.formSignUp.invalid"
                  [btnBlock]="true"
                  (click)="submit()">
        Cadastrar
      </app-button>

      <div class="form-group">
        <span>Já possui acesso?<a [routerLink]="['/sign-in']"> Fazer login</a></span>
      </div>

    </form>
  </div>

</section>
