@import "./scss/reset";
@import "./scss/normalize";
@import "./scss/container";
@import "./scss/form";

$orange: #f7b718;

body, * {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** Aguardando  padronização do css, assim que existir, retirar este código ***/
.create-access {
  a {
    text-decoration: none;
    color: #e19822;
    font-weight: bold;
  }

}

.p-10 {
  padding-top: 20px;
}
