@import "./scss/reset";
@import "./scss/normalize";

$orange: #f7b718;

body, * {
  font-family: Mark Pro, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Mark Pro';
  src: url('./assets/font/mark-pro/7200c6dd8ac604abe09f5159e53a40c0.eot'); /* IE9 Compat Modes */
  src: url('./assets/font/mark-pro/7200c6dd8ac604abe09f5159e53a40c0.woff') format('woff'), /* Modern Browsers */
  url('./assets/font/mark-pro/7200c6dd8ac604abe09f5159e53a40c0.woff') format('woff2'), /* Modern Browsers */
  url('./assets/font/mark-pro/7200c6dd8ac604abe09f5159e53a40c0.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./assets/font/mark-pro/7200c6dd8ac604abe09f5159e53a40c0.svg') format('svg'); /* Legacy iOS */
}
