@import "./scss/reset";
@import "./scss/normalize.scss";
@import "./scss/container";
@import "./scss/input";

$orange: #f7b718;

body, * {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  animation: moveBody 3s;
}
@keyframes moveBody {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

.form-group {
  line-break: auto;
  padding: 5px;
}

::-webkit-input-placeholder {
  padding: 5px;
  color: #e4e4f2;
}

:-moz-placeholder {
  padding: 5px;
  color: #e4e4f2;
}

.create-access {
  a {
    text-decoration: none;
    color: #e19822;
    font-weight: bold;
  }

}

.p-10 {
  padding-top: 20px;
}
