.form-group {
  line-break: auto;
  padding: 5px;
}

::-webkit-input-placeholder {
  padding: 5px;
  color: #e4e4f2;
}

:-moz-placeholder {
  padding: 5px;
  color: #e4e4f2;
}

.form-content-item {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #00000020;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-content-label {
  text-align: left;
  font-size: 12px;
  color: #000000e5;
  text-transform: uppercase;
  font-weight: bold;
  clear: right;
}
